<html>
  <head>
    <title>Welcome ...</title> 
    <link href="../../app.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h3>Logo</h3> 
      <ul>
        <li>
          <a href="http://domain.com/link1">Link 1</a>
        </li>
        <li>
          <a href="http://domain.com/link2">Link 2</a>
        </li>
        <li>
          <a href="http://domain.com/link3">Link 3</a>
        </li>
      </ul>
    </header>
    <h3>Product List</h3>

<div class="container center">
  <div>
  <div class='inline-box vertical' style="background-color:darkgray;border:1px solid #323232;">
    <p style="font-weight: bold;">Green Mouse</p>
    <p>products/greenmouse.html</p>
    <p>100</p>
  </div>
  <div class='inline-box vertical' style="background-color:tomato;border:1px solid #323232;">
    <p style="font-weight: bold;">White Mouse</p>
    <p>products/whitemouse.html</p>
    <p>200</p>
  </div>
  <div class='inline-box vertical' style="background-color:darkgray;border:1px solid #323232;">
    <p style="font-weight: bold;">White Keyboard</p>
    <p>products/whitekeyboard.html</p>
    <p>0</p>
  </div>
  </div>
</div>
<div style="text-align:center;">
      <span class="page-no">1</span>
      <span class="page-no">2</span>
      <span class="page-no">3</span>
      <span class="page-no">4</span>
      <span class="page-no">5</span>
      <span class="page-no">6</span>
      <span class="page-no">7</span>
      <span class="page-no">8</span>
      <span class="page-no">9</span>
      <span class="page-no">10</span>
</div>
</br>
</br>
</br>
<div style="text-align:center;">
       <span class="circle">0</span> → <span class="page-no" style="background:seagreen;color: white;">100</span>
         <span class="circle">1</span> → <span class="page-no" style="background: purple; color: white;">101</span>
       <span class="circle">2</span> → <span class="page-no" style="background:seagreen;color: white;">102</span>
         <span class="circle">3</span> → <span class="page-no" style="background: purple; color: white;">103</span>
       <span class="circle">4</span> → <span class="page-no" style="background:seagreen;color: white;">104</span>
         <span class="circle">5</span> → <span class="page-no" style="background: purple; color: white;">105</span>
       <span class="circle">6</span> → <span class="page-no" style="background:seagreen;color: white;">106</span>
         <span class="circle">7</span> → <span class="page-no" style="background: purple; color: white;">107</span>
       <span class="circle">8</span> → <span class="page-no" style="background:seagreen;color: white;">108</span>
         <span class="circle">9</span> → <span class="page-no" style="background: purple; color: white;">109</span>
       <span class="circle">10</span> → <span class="page-no" style="background:seagreen;color: white;">110</span>
</div>
  <footer>This is footer</footer>
</body>
</html>