<html>
  <head>
    <title></title> 
    <link href="../../app.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h3>Logo</h3>
      <ul>
        <li>
          <a href="http://domain.com/link1">Link 1</a>
        </li>
        <li>
          <a href="http://domain.com/link2">Link 2</a>
        </li>
        <li>
          <a href="http://domain.com/link3">Link 3</a>
        </li>
      </ul>
    </header>

<div class="container center">
  <div>
  <div class='inline-box vertical' style="background-color:darkgray;border:1px solid #323232;">
    <p style="font-weight: bold;">Green Mouse</p>
    <p>products/greenmouse.html</p>
    <p>100</p>
  </div>
  <div class='inline-box vertical' style="background-color:tomato;border:1px solid #323232;">
    <p style="font-weight: bold;">White Mouse</p>
    <p>products/whitemouse.html</p>
    <p>200</p>
  </div>
  <div class='inline-box vertical' style="background-color:darkgray;border:1px solid #323232;">
    <p style="font-weight: bold;">White Keyboard</p>
    <p>products/whitekeyboard.html</p>
    <p>0</p>
  </div>
  </div>
</div>
<div style="text-align:center;">
      <span class="page-no">1</span>
      <span class="page-no">2</span>
      <span class="page-no">3</span>
      <span class="page-no">4</span>
      <span class="page-no">5</span>
      <span class="page-no">6</span>
      <span class="page-no">7</span>
      <span class="page-no">8</span>
      <span class="page-no">9</span>
      <span class="page-no">10</span>
</div>
</br>
</br>
</br>
<div style="text-align:center;">
       <span>0</span> -> <span class="page-no" style="border: 2px solid seagreen">100</span>
       <span>1</span> -> <span class="page-no" style="border: 2px solid purple">101</span>
       <span>1</span> -> <span class="page-no" style="border: 2px solid purple">101</span>
       <span>2</span> -> <span class="page-no" style="border: 2px solid seagreen">102</span>
       <span>3</span> -> <span class="page-no" style="border: 2px solid purple">103</span>
       <span>3</span> -> <span class="page-no" style="border: 2px solid purple">103</span>
       <span>4</span> -> <span class="page-no" style="border: 2px solid seagreen">104</span>
       <span>5</span> -> <span class="page-no" style="border: 2px solid purple">105</span>
       <span>5</span> -> <span class="page-no" style="border: 2px solid purple">105</span>
       <span>6</span> -> <span class="page-no" style="border: 2px solid seagreen">106</span>
       <span>7</span> -> <span class="page-no" style="border: 2px solid purple">107</span>
       <span>7</span> -> <span class="page-no" style="border: 2px solid purple">107</span>
       <span>8</span> -> <span class="page-no" style="border: 2px solid seagreen">108</span>
       <span>9</span> -> <span class="page-no" style="border: 2px solid purple">109</span>
       <span>9</span> -> <span class="page-no" style="border: 2px solid purple">109</span>
       <span>10</span> -> <span class="page-no" style="border: 2px solid seagreen">110</span>
</div>
  <footer>This is footer</footer>
</body>
</html>